<div class="booking">
<div class="booking-calendar">
<%= render partial: "booking_form"%>
<%= render partial: "booking_text"%>

<%# <div class="booking-history"> %>
<%# <% @bookings.each do |t|%>
<%# <%= t.price%>
<%# <%= t.text%>
<%# <%= t.start_time.strftime('%Y/%m/%d')%>
<%# <%end%>

</div>
</div>