<div class="booking">
<div class="booking-calendar">
<div class="booking-form">


       <%# 商品の情報 %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">利用日</th>
          <td class="detail-value"><%= @booking.start_time.strftime('%Y/%m/%d')%></td>
        </tr>
        <tr>
          <th class="detail-item">料金</th>
          <td class="detail-value">¥<%= @booking.price%></td>
        </tr>
        <tr>
          <th class="detail-items">特記</th>
          <td class="detail-values">
          <div class="detail-values-text">
          <%= @booking.text%>
          </div>
          </td>
        </tr>
      </tbody>
    </table>

<div class="booking-btn">
<div class="booking-btn-edit">
<a href = "/users/<%=@user.id%>/bookings/<%=@booking.id%>/edit">編集</a>
</div>
<div class="booking-btn-delete">
<%= link_to "削除",user_booking_path(@booking.id), method: :delete, data: {confirm:"削除しますか？"}%>
</div>
<div class="booking-btn-return">
<%= link_to "戻る" %>
</div>
</div>
</div>
<%= render partial: "booking_text"%>
</div>
</div>
</div>