<a href="/users/<%=@user.id%>/new">画像追加</a>
<%= link_to "index",user_path(@user.id)%>

<%# <%= @abc.each do |t|%> %>
<%# <%= image_tag(t.images) %> %>
<%# <%end%> %>

<%= image_tag(@user.image.variant(resize: '500x500'))%>
<%= @user.name%>様